/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  font-family: 'Lobster';
}
.languages-list {
  display: flex;
  list-style-type: none;
}
.repository-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px;
}
.failure-img {
  height: 500px;
  width: 500px;
}
.failure-text {
  font-size: 40px;
  font-weight: 700;
}
